body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.container {
  display: flex;
  width: 100%;
}

.image-desc {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.image-desc a {
  color: inherit;
}

.left-side {
  display: flex;
  margin: auto;
  width: 40%;
  height: 100%;
  background-image: url('../img/outdoors_logo.jpg');
  background-size: cover;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0;
  padding: 0;
  margin-top: 0;
}

.right-side > * {
  padding-left: 5%;
  padding-right: 5%;
}

.top-header {
  display: flex;
  flex-direction: column;
  border-style: solid;
  justify-content: center;
  height: 40%;
}

.middle-form {
  border-style: solid;
  height: 20%;
  margin-left: 0%;
  padding-top: 3%;
  background-color: rgba(0, 0, 0, 0.034);
}

.footer {
  border-style: solid;
  height: 40%;
}

.form-label {
  font-weight: 900;
  display: block;
  transition: all 0.5s;
  /* transform: translateY(-3.0rem) */
}

.form-input:focus {
  transition: 0.2s;
  outline: none;
  border: 2px solid blue;
}

.form-input :placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
}
