*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: cursive;
  font-weight: normal;
}

:root {
  --darkfade: linear-gradient(180deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
}

.screen {
  font-family: 'Raleway', sans-serif;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.container {
  display: flex;
  width: 100%;
}


.image-desc {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.image-desc a {
  color: inherit;
}

.left-side {
  display: flex;
  margin: auto;
  width: 40%;
  height: 100%;
  background-image: url('../img/clay-banks.png');
  background-size: cover;
}

.logo {
  background-image: url('../img/outdoors_logo.png');
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0;
  padding: 10px 10px 10px 25px;
  margin-top: 0;
  background: var(--darkfade);
}

.right-side>* {
  padding-left: 5%;
  padding-right: 5%;
}

.top-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 40%;
  font-size: 2em;
}

.middle-form {
  height: auto;

}

.input-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 75px);
}

.input-grid h1 {
  grid-column: span 2;
  display: flex;
  justify-content: left;
}

button {
  background-color: brown;
  color: white;

  font-weight: 700;
  font-size: 1.2em;
  border: 2px solid;
  border-radius: 5px;
  margin: 40px 0 0;
  padding: 10px 40px;
}

button:hover {
  background-color: rgba(14, 6, 6, 0.89);
}

.already {
  display: flex;
  align-items: center;
  gap: 5px;
}



.footer {
  height: 40%;

}


.form-label {
  font-weight: 900;
  display: block;
  transition: all 0.5s;
  /* transform: translateY(-3.0rem) */
}

form input {
  width: 90%;
  height: 40%;
}

.form-input:focus {
  transition: 0.2s;
  outline: none;
  border: 2px solid blue;
}

.form-input :placeholder-shown+.form-label {
  opacity: 0;
  visibility: hidden;
}