
.container {
  font-family: 'Raleway', sans-serif;
  
  display: flex;
    width: 100vw;
    height: 90vh;
    flex-direction: row;
    
  }
  .image{
    display: flex;
    /* margin: 1% 1% 1% 1%; */
    background-size: cover; 
  }
  
  .left-side{
    display: flex;
    width: 35%;
  }
  
  .right-side{
    width: 60%;
    margin:0;
    padding: 0;
    margin-top: 1%;

  }

  .right-side > * {
    padding-left: 5%;
    padding-right: 5%;
  }

  .top-header{
    border-style: solid;
    height: 40%;
  }
  
  .middle-form{
    border-style: solid;
    height: 20%; 
    margin-left: 0%;
    padding-top: 3%;
    background-color: rgba(0, 0, 0, 0.034);

  }
  
  .footer{
    border-style: solid;
    height: 40%;
  }

  .form-label{
    font-weight: 900;
    display: block;
    transition: all 0.5s;
    /* transform: translateY(-3.0rem) */
  }
  
  .form-input:focus {
    transition: 0.2s;
    outline: none;
    border: 2px solid blue;
  }

  .form-input :placeholder-shown + .form-label{
    opacity: 0;
    visibility: hidden;
  }